In [1]:
import pandas as pd
import numpy as np
import sys, os 
import csv
import glob
from datetime import datetime

In [2]:
#we'll use glob to access the files, create a path to the csv's
path ="data/*.csv"
csv_list = glob.glob(path)

In [3]:
#we'll use glob to access the files, create a path to the csv's
path ="data/*.csv"
csv_list = glob.glob(path)

In [4]:
#use some loops to go through each csv file, write each line into a single open csv file
with open('citi_ride.csv', 'a') as singleFile:
    for csvFile in glob.glob("data/*.csv"):
        for line in open(csvFile, 'r'):
            singleFile.write(line)

In [5]:
#lets just take a quick look at it. 
df = pd.read_csv('citi_ride.csv')

/Users/ellenchen/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,3,5,6,7,9,10,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:

#another method for Reference
#from glob import glob
 
#with open('main.csv', 'a') as singleFile:
   # for csv in glob('*.csv'):
        #if csv == 'main.csv':
            #pass
        #else:
           # for line in open(csv, 'r'):
               # singleFile.write(line)

In [7]:
df.head(3)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2017-09-01 00:00:17,2017-09-01 00:06:19,3331,Riverside Dr & W 104 St,40.8013,-73.9711,3328,W 100 St & Manhattan Ave,40.795,-73.9645,14530,Subscriber,1993,1
1,188,2017-09-01 00:00:21,2017-09-01 00:03:30,3101,N 12 St & Bedford Ave,40.7208,-73.9548,3100,Nassau Ave & Newell St,40.7248,-73.9475,15475,Subscriber,1988,1
2,305,2017-09-01 00:00:25,2017-09-01 00:05:30,3140,1 Ave & E 78 St,40.7714,-73.9535,3141,1 Ave & E 68 St,40.765,-73.9582,30346,Subscriber,1969,1

In [ ]:
#another Referencehttps://blog.devdon.com/?p=3229 for another method and never try the code is as followings
#from glob import glob
 
#with open('main.csv', 'a') as singleFile:
#    for csv in glob('*.csv'):
 #       if csv == 'main.csv':
#            pass
#        else:
 #           for line in open(csv, 'r'):
#                singleFile.write(line)
#